<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @task.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @task.answer %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
