<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="<%= new_user_registration_path %>">Rejestracja</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Test Factory</h3>
  </div>

  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin", role: "form"} ) do |f| %>
      <h2>Logowanie</h2>

      <div class="form-group">
        <%= f.label :email, class: 'sr-only' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'sr-only' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>Loguj przy każdej wizycie
          </label>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Zaloguj się", class: 'btn btn-lg btn-primary btn-block' %>
      </div>

      <br />

      <%= link_to "Zapomniałeś hasło?", new_password_path(resource_name) %><br />

  <% end %>
  </div>

  <footer class="footer">
    <p>&copy; RuYielder 2014</p>
  </footer>
</div>


