<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.select :student_id , options_for_select(Student.where(teacher_id: current_user.id).map{|s|[s.name, s.id]}) %>
  </div>

    <input type="hidden" id="test_tasks" name="test[tasks]" />

    <h3>Tagi</h3>
    <div>
      <% @tags.each do |tag| %>
          <p class="tag" data-id="<%= tag.id %>"><%= tag.tag %></p>
      <% end %>
    </div>

    <h3>Wyszukane zadania</h3>

    <label for="is_unique_tasks">Tylko unikalne?</label><br>
    <input type="checkbox" id="is_unique_tasks" checked="true" />

    <ul id="searched_tasks">

    </ul>

    <h3>Wybrane zadania</h3>
    <ul id="selected_tasks">

    </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
