<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="<%= new_user_registration_path %>">Rejestracja</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Test Factory</h3>
  </div>

<p>
  <strong>Dla studenta:</strong>
  <%= @test.student.name %>
</p>

<p>
  <strong>Zadania</strong>
  <ul>
  <% @test.tasks.each do |task| %>
    <li><%= task.question %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
</div>